<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>

<body>

    {% include 'navbar.html' %}

    <div class="container p-3 mt-3 shadow bg-primary">
        <div class="row d-flex justify-content-center gap">
            <div class="col-md-4 d-flex justify-content-center">
                <img src="../static/images/bg/a1.jpeg" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-7 bg-secondary p-3 rounded">
                <h3 class="text-center fw-semibold text-black">Connecting cultures through the discovery of unique
                    fruits.</h3>
                <hr>
                <p class="fs-5">
                    At FruitMultiVision, we are passionate about celebrating the diversity of the world's fruits. Our
                    mission is to leverage technology to bring attention to lesser-known varieties that may hold
                    culinary and nutritional value. By combining deep learning expertise with a love for fruit, we aim
                    to create an engaging platform that not only identifies fruits but also educates users about their
                    unique qualities and cultural significance.
                </p>
            </div>
        </div>
    </div>

    <div class="container p-3 mt-5 bg-primary border rounded">
        <div class="row">
            <!-- Left side: Text -->
            <div class="col-md-6 p-3 bg-secondary">
                <h3 class="fw-semibold text-black">Our Aim</h3>
                <hr>
                <p class="fs-custom text-black">
                    Our aim is to illuminate the lesser-known fruits from various countries, making them accessible and
                    appreciated by Indian clients. By fostering awareness of these unique varieties, we hope to inspire
                    culinary exploration and support sustainable practices that celebrate global fruit diversity.
                </p>
            </div>

            <!-- Right side: Image -->
            <div class="col-md-6 p-3">
                <img src="../static/images/bg/a22.jpg" alt="Our Aim" class="img-fluid rounded" />
            </div>
        </div>
    </div>

    <div class="container p-3 mt-3 shadow bg-primary">
        <div class="row d-flex justify-content-center gap">
            <div class="col-md-4 d-flex justify-content-center">
                <img src="../static/images/bg/a33.avif" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-7 bg-secondary p-3 rounded">
                <h3 class="text-center fw-semibold text-black">Our Objective</h3>
                <hr>
                <p class="fs-5">
                    Our objective is to develop an engaging platform that utilizes AI to identify and classify a wide
                    range of lesser-known fruits. By providing accurate information and insights, we seek to empower
                    users to incorporate these exotic fruits into their diets, encouraging exploration and appreciation
                    of global biodiversity.
                </p>
            </div>
        </div>
    </div>
    <div class="container p-3 mt-5 bg-primary border rounded">
        <div class="row">
            <!-- Left side: Text -->
            <div class="col-md-6 p-3 bg-secondary">
                <h3 class="fw-semibold text-black">Our Team</h3>
                <hr>
                <p class="fs-custom text-black">
                    Our team consists of passionate technologists, botanists, and culinary experts dedicated to
                    enhancing fruit education through technology. We work collaboratively to ensure that
                    FruitMultiVision
                    provides accurate classifications and meaningful insights into the fruits we identify, fostering a
                    deeper connection between users and the world of fruit.

                </p>
            </div>

            <!-- Right side: Image -->
            <div class="col-md-6 p-3">
                <img src="../static/images/bg/a44.jpg" alt="Our Aim" class="img-fluid rounded" />
            </div>
        </div>
    </div>

    <div class="container p-3 mt-3 shadow bg-primary">
        <div class="row d-flex justify-content-center gap">
            <div class="col-md-4 d-flex justify-content-center">
                <img src="../static/images/bg/a4.png" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-7 bg-secondary p-3 rounded">
                <h3 class="text-center fw-semibold text-black">Our Technology</h3>
                <hr>
                <p class="fs-5">
                    FruitMultiVision harnesses the power of advanced deep learning models, including VGG19,
                    EfficientNet,
                    and DenseNet, to classify over 40 varieties of lesser-known fruits with an accuracy exceeding 70%.
                    These models are designed to recognize intricate features in fruit images, enabling users to
                    discover and learn about rare fruits from different cultures. By combining robust algorithms with a
                    focus on accuracy, we strive to make the identification process both reliable and efficient.
                </p>
            </div>
        </div>
    </div>




</body>

</html>